pip
setuptools
wheel
future==1.0.0
ecdsa==0.19.1
requests==2.32.4
websocket-client==0.58.0
pytz==2021.1
pycryptodomex==3.21.0
scrypt==0.8.17
cryptography==46.0.5
ruamel.yaml
mock==4.0.3
appdirs==1.4.4
Click==8.1.8
click_shell>=2.0
prettytable
pycodestyle==2.7.0
pyflakes==2.3.0
pylibscrypt==2.0.0
six==1.15.0
pytest
pytest-mock
pytest-cov
coverage
parameterized
tox
codacy-coverage
virtualenv
codecov
diff_match_patch
asn1crypto